<% include header %>


<div class="columns is-centered">
    
    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        
        <!-- <h3 class='title is-h3'>Signup</h3> -->
        
        <div class="field">
            <label class="label">Height</label>
            <div class="control has-icons-left">
                <input type="number" class="input" placeholder="In CM">
                <span class="icon is-small is-left">
                    <i class="fa fa-ruler-vertical"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Weight</label>
            <div class="control has-icons-left">
                <input type="number" class="input" placeholder="In K.G.">
                <span class="icon is-small is-left">
                    <i class="fa fa-weight"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Goal</label>
            <div class="control has-icons-left">
                <div class="select">
                    <select>
                        <option value="wl">Weight Loss</option>
                        <option value="wg">Weight Gain</option>
                        <option value="mw">Maintain Weight</option>
                    </select>
                </div>
                <span class="icon is-small is-left">
                    <i class="fa fa-bullseye"></i>
                </span>
            </div>
        </div>

    </div>

</div>

<% include footer %>