<% include header %>


<div class="columns is-centered">
    
    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        <form method="POST" action='/users'>
        
        <h3 class='title is-h3'>Signup</h3>
        
        <div class='field'>
            <label class="label">Email</label>
            
            <div class='control has-icons-left'>
                <input name="email" type="email" class="input" placeholder="you@example.com">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input name="password" type="password" class="input" placeholder="********">
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left">
                <input name="password2" type="password" class="input" placeholder="********">
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Gender</label>
            <div class="control has-icons-left">
                <div class="select">
                    <select name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <span class="icon is-small is-left">
                        <i class="fa fa-male"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Birth Date</label>
            <div class="control has-icons-left">
                <input name="dob" type="date" class="input">
                <span class="icon is-small is-left">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input type="submit" class="button is-dark" value="Signup">
            </div>
        </div>

    </form>
    </div>

</div>

<% include footer %>